<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :flexible_dates %>
    <%= f.input :days %>
    <%= f.input :student_description %>
    <%= f.input :address %>
    <%= f.input :suburb %>
    <%= f.input :postcode %>
    <%= f.input :pay_per_hour %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
