<h1>Listing projects</h1>

<table class="table">
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Description</th>
      <th>Start_date</th>
      <th>End_date</th>
      <th>Flexible_dates</th>
      <th>Days</th>
      <th>Student_description</th>
      <th>Address</th>
      <th>Suburb</th>
      <th>Postcode</th>
      <th>Pay_per_hour</th>
        <th colspan="3"></th>
    </tr>

  <%= content_tag_for(:tr, @projects) do |project| %>
    <td><%= project.user %></td>
    <td><%= project.name %></td>
    <td><%= project.description %></td>
    <td><%= project.start_date %></td>
    <td><%= project.end_date %></td>
    <td><%= project.flexible_dates %></td>
    <td><%= project.days %></td>
    <td><%= project.student_description %></td>
    <td><%= project.address %></td>
    <td><%= project.suburb %></td>
    <td><%= project.postcode %></td>
    <td><%= project.pay_per_hour %></td>
      <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project), class: 'btn btn-edit' %></td>
    <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-destroy' %></td>
  <% end %>
</table>


<div class="form-actions">
  <%= link_to 'New Project', new_project_path, class: 'btn btn-success' %>
</div>
