<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

  <title><%= content_for?(:title) ? yield(:title) : "Mobeeas" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
</head>
<body>
  <% if user_signed_in? %>
    <%= render 'layouts/home_navbar' %>
    <%= render 'layouts/sidebar' %>
    <main>
      <div class="container">
        <%= yield %>
      </div>
    </main>
    <%= render 'layouts/footer' %>
  <% else %>
    <%= yield %>
  <% end %>
  
 <script>
 (function($){
  $(function(){

    $('.button-collapse').sideNav();
    $('.parallax').parallax();
    $(".button-collapse").sideNav();
    $('select').material_select();
  }); // end of document ready
})(jQuery); // end of jQuery name space
</script>
</body>
</html>
